<!DOCTYPE html>
<html ng-app="prometheus">
<head>
  <title>Prometheus</title>
  <link rel="stylesheet" href="./public/css/prometheus.css">
  <link rel="stylesheet" type="text/css" href="./public/css/font-awesome/css/font-awesome.min.css">
  <script type="text/javascript" src="./public/js/lib/angular/angular.js"></script>
  <script type="text/javascript" src="./public/js/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="./public/js/prometheus-app.js"></script>
  <script type="text/javascript" src="controller/indexCtrl.js"></script>
  <script type="text/javascript" src="controller/memberCtrl.js"></script>
</head>
<body>
  <div class="side-bar" ng-controller="navCtrl">
    <nav>
      <ul>
        <li class="" ng-class="{active: active}" ng-click="go('index')">
          <i class="fa fa-home"></i>
          <span class="tab-item-title">主页</span>
        </li>
        <li class="active" ng-class="{active: active}" ng-click="go('member')">
          <i class="fa fa-users"></i>
          <span class="tab-item-title">成员</span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content-wrapper">
    <div ng-view>
      
    </div>
  </div>
</body>
</html>